[submodule "notebooks/tensorflow/ProbabilisticDeepLearningTensorFlow"]
	path = notebooks/tensorflow/ProbabilisticDeepLearningTensorFlow
	url = https://github.com/zacharyaanglin/ProbabilisticDeepLearningTensorFlow
